<form action="/comments/new" method="POST" class="media">
    <div class="media-content">
        <div class="field">
            <input type="hidden" name="postId" value="{{post._id}}">
            <p class="control">
                {% if ctx.session.user._id %}
                <textarea name="content" class="textarea" placeholder="发表评论…"></textarea>
                {% else %}
                <textarea disabled name="content" class="textarea" placeholder="请先登录"></textarea>
                {% endif %}         
            </p>
        </div>
        {% if ctx.session.user._id %}
        <button class="button is-info is-pulled-right">提交</button>
        {% else %}
        <button disabled class="button is-info is-pulled-right">提交</button>
        {% endif %} 
    </div>
</form>
{% for comment in comments %}
<article class="media comment">
    <figure class="media-left">
        <p class="image is-24x24">
            <img src="https://bulma.io/images/placeholders/128x128.png">
        </p>
    </figure>
    <div class="media-content">
        <div class="content">
            <p>
                <strong>{{comment.from.name}}</strong>
                <br>
                {{marked(comment.content) | safe}}
            </p>
        </div>
    </div>
    <div class="media-right is-invisible">
        <!-- <button id="reply" class="button is-small is-primary">回复</button> -->
        {% if (comment.from._id == ctx.session.user._id) or (post.author._id == ctx.session.user._id) or ctx.session.user.isAdmin %}
        <a href="/comments/{{comment._id}}/delete" class="button is-small">删除</a>
        {% endif %}
    </div>
</article>
{% endfor %}
