<div class="column is-3">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title has-text-grey is-size-6 has-text-centered" style="display: block;">
                最多阅读文章
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <ul>
                    {% for post in topPosts %}
                    <li><a href="/posts/{{ post._id }}" class="is-size-6">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="card mt-20">
        <header class="card-header">
            <p class="card-header-title has-text-grey is-size-6 has-text-centered" style="display: block;">
                最新发布文章
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <ul>
                    {% for post in newPosts %}
                    <li><a href="/posts/{{ post._id }}" class="is-size-6">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="card mt-20">
        <header class="card-header">
            <p class="card-header-title has-text-grey is-size-6 has-text-centered" style="display: block;">
                扫码访问
            </p>
        </header>
        <div class="card-content">
            <div class="content has-text-centered">
                <img src="{{ imgUrl }}">
            </div>
        </div>
    </div>
    <div class="card mt-20">
        <header class="card-header">
            <p class="card-header-title has-text-grey is-size-6 has-text-centered" style="display: block;">
                微信小程序
            </p>
        </header>
        <div class="card-content">
            <div class="content has-text-centered">
                <img style="width: 9rem;" alt="微信小程序-books天地" title="微信小程序-books天地" src="//img.hellocode.name/wepy-books.jpg">
            </div>
        </div>
    </div>
    <div class="card mt-20">
        <header class="card-header">
            <p class="card-header-title has-text-grey is-size-6 has-text-centered" style="display: block;">
                购物返利
            </p>
        </header>
        <div class="card-content">
            <div class="content has-text-centered">
                <a target="_brank" href="https://passport.fanli.com/come?id=4916086&t=4&spm=b.invite.pcoldreg.copy">
                    <img alt="返利网" title="返利网" style="width: 11rem;" src="//static2.51fanli.net/common/images/logo/logo-fanli.index-v2.2x.png">
                </a>
            </div>
        </div>
    </div>
    <div class="card mt-20">
        <header class="card-header">
            <p class="card-header-title has-text-grey is-size-6 has-text-centered" style="display: block;">
                科学上网服务
            </p>
        </header>
        <div class="card-content">
            <div class="content has-text-centered">
                <a target="_brank" href="https://order.shadowsocks.se/aff.php?aff=19195">
                    Shadowsocks
                </a>
            </div>
        </div>
    </div>
    <div class="card mt-20">
        <header class="card-header">
            <p class="card-header-title has-text-grey is-size-6 has-text-centered" style="display: block;">
                云服务
            </p>
        </header>
        <div class="card-content">
            <div class="content has-text-centered">
                <a target="_brank" href="//passport.ucloud.cn/?invitation_code=rami45zj5kpm&ytag=re4763">
                    <img alt="Ucloud" title="Ucloud" src="//www.ucloud.cn/static/style/images/index/2017/nav-logo@2x.png">
                </a>
            </div>
        </div>
        <div class="card-content">
            <div class="content has-text-centered">
                <a target="_brank" href="//portal.qiniu.com/signup?code=3l94gofrf7xw2">
                    <img alt="七牛云" style="width: 11rem;" title="七牛云" src="//mars-assets.qnssl.com/qiniulogo/img-horizontal-blue-cn.png">
                </a>
            </div>
        </div>
    </div>
</div>
