<div class="column is-3">
    <div class="card">
        <header class="card-header">
            <p class="card-header-title has-text-grey is-size-6 has-text-centered" style="display: block;">
                最多阅读文章
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <ul>
                    {% for post in topPosts %}
                    <li><a href="/posts/{{ post._id }}" class="is-size-6">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="card mt-20">
        <header class="card-header">
            <p class="card-header-title has-text-grey is-size-6 has-text-centered" style="display: block;">
                最新发布文章
            </p>
        </header>
        <div class="card-content">
            <div class="content">
                <ul>
                    {% for post in newPosts %}
                    <li><a href="/posts/{{ post._id }}" class="is-size-6">{{ post.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="card mt-20">
        <header class="card-header">
            <p class="card-header-title has-text-grey is-size-6 has-text-centered" style="display: block;">
                扫码访问
            </p>
        </header>
        <div class="card-content">
            <div class="content has-text-centered">
                <img src="{{ imgUrl }}">
            </div>
        </div>
    </div>

    <div class="card mt-20">
        <header class="card-header">
            <p class="card-header-title has-text-grey is-size-6 has-text-centered" style="display: block;">
                购物返利
            </p>
        </header>
        <div class="card-content">
            <div class="content has-text-centered">
                <a target="_brank" href="https://passport.fanli.com/come?id=4916086&t=4&spm=b.invite.pcoldreg.copy">
                    <img src="//static2.51fanli.net/common/images/logo/logo-fanli.index-v2.2x.png">
                </a>
            </div>
        </div>
    </div>
    <div class="card mt-20">
        <header class="card-header">
            <p class="card-header-title has-text-grey is-size-6 has-text-centered" style="display: block;">
                科学上网服务
            </p>
        </header>
        <div class="card-content">
            <div class="content has-text-centered">
                <a target="_brank" href="https://secure.shadowsocks.nu/aff.php?aff=19195">
                    <img title="Shadowsocks" src="//secure.shadowsocks.nu/assets/img/logo.png">
                </a>
            </div>
        </div>
    </div>

</div>
