{% extends 'views/base.html' %}
{% block body %}
<form action="/posts/new" method="POST" id="post-from">
    <header class="editor-header">
        <input id="post-title" autofocus required name="title" class="input is-shadowless is-radiusless" autocomplete="off" type="text" placeholder="输入文章标题...">
        <div class="right-box">
            <div class="select is-small">
                <select name="category" required>
                    <option value="">分类</option>
                    {% for category in categories %}
                    <option value="{{category._id}}">{{category.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="button is-small is-primary">发布</button>
        </div>
    </header>
    <div id="editor">
        <textarea placeholder="请使用 Markdown 格式编写 :)" id="post-content" required name="content" class="input"></textarea>
        <div class="show content markdown-body"></div>
    </div>
</form>
<nav class="navbar has-shadow">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">Koa2</a>
        <p class="navbar-item">请注意单词拼写，以及中英文排版</p>
        <p class="navbar-item">发布框支持本地存储功能，会在内容变更时保存，「发布」按钮点击时清空</p>
    </div>
</nav>
{% endblock %}
{% block script %}
<script src="//cdn.bootcss.com/marked/0.3.19/marked.min.js"></script>
<script src="/js/post.js"></script>
{% endblock %}