{% extends 'views/base.html' %}
{% block body %}
<form action="/posts/new" method="POST" id="post-from">
    <header class="editor-header">
        <input id="post-title" autofocus required name="title" class="input is-shadowless is-radiusless" autocomplete="off" autofocus="autofocus" type="text" placeholder="输入文章标题...">
        <div class="right-box">
            <div class="select is-small">
                <select name="category" required>
                    <option value="">分类</option>
                    {% for category in categories %}
                    <option value="{{category._id}}">{{category.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="button is-small is-primary">发布</button>
        </div>
    </header>
    <div id="editor">
        <textarea id="post-content" required name="content" class="input"></textarea>
        <div class="show content markdown-body"></div>
    </div>
</form>
<nav class="navbar has-shadow">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">Koa2</a>
    </div>
</nav>
{% endblock %}
{% block script %}
<script src="//cdn.bootcss.com/marked/0.3.19/marked.min.js"></script>
<script>
    var input = $('#editor .input')
    $('#editor .show').html(marked(input.val()))
    input.on('input', function() {
        $('#editor .show').html(marked($(this).val()))
    })
</script>
{% endblock %}