{% extends 'views/base.html' %} 
{% block css%}
<link rel="dns-prefetch" href="//use.fontawesome.com" />
{% endblock %}
{% block body %}
{% include "views/components/header.html" %}
<div class="container padding-10 h-70vh">
    <div class="box sign-box">
        <form action="/email" method="POST" autocomplete="off">
            <div class="field">
                <label class="label">邮箱</label>
                <div class="control has-icons-left">
                    <input required class="input" name="email" type="email" placeholder="请输入你的邮箱">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-primary">确认</button>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="//use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock %}


