{% extends 'views/base.html' %}{% block body %}
{% include "views/components/header.html" %}
<section class="hero is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">Koa2</h1>
            <h2 class="subtitle print">koa2 NodeJS Web 开发框架</h2>
        </div>
    </div>
</section>
<div class="container margin-top">
    <div class="columns margin-0">
        <div class="column is-9">
            {% for post in posts %}
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <a class="is-size-6" href="/posts/{{post._id}}">{{post.title}}</a>
                        <div class="tags is-pulled-right is-hidden-mobile">
                            <span title="浏览数" class="tag has-text-primary">{{ post.pv }}</span>
                            <span title="发布时间" class="tag has-text-danger">{{ post.meta.date }}</span>
                            <span title="分类" class="tag has-text-info">{{ post.category.name }}</span>
                        </div>
                    </div>
                </div>
            </div>         
            {% endfor %}
            {%  if 1 < pageCount and pageCount >= currentPage  %}
            <nav class="pagination is-small margin-top" role="navigation" aria-label="pagination">
                {%  if currentPage === 1 %}
                <a disabled href="javascript:;" class="pagination-previous button is-small is-primary is-outlined">上一页</a>
                {% else %}
               <a href="?page={{currentPage - 1}}" class="pagination-previous button is-small is-primary is-outlined">上一页</a> 
                {% endif %}
                {%  if currentPage === pageCount %}
                <a disabled href="javascript:;" class="pagination-next button is-small is-info is-outlined">下一页</a>
                {% else %}
                <a href="?page={{currentPage + 1}}" class="pagination-next button is-small is-info is-outlined">下一页</a>
                {% endif %}
            </nav>
            {% else %}
            <p class="has-text-centered margin-top is-size-6 has-text-grey">👀没有更多了... 🙄</p>
            {% endif %}
        </div>
        {% include "views/components/list_right.html" %}
    </div>
</div>
{% endblock %}
