{% extends 'views/base.html' %}
{% block css %}
<link rel="dns-prefetch" href="//cdnjs.cloudflare.com/" />
<link href="//cdn.bootcss.com/github-markdown-css/2.10.0/github-markdown.min.css" rel="stylesheet">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/css/share.min.css">
{% endblock %}
{% block body %}
{% include "views/components/header.html" %}
<div class="container margin-top">
    <div class="columns padding-10">
        <div class="column is-8 is-offset-2">
            <div class="box markdown-body">
                <h1>{{post.title}}</h1>
                <div class="content">
                    作者：<a href="/user/{{post.author._id}}">{{post.author.name}}</a>
                    {% if post.author._id == ctx.session.user._id %}
                    <div class="is-pulled-right">
                        <a class="button is-small is-primary" href="/posts/{{post._id}}/edit">编辑</a>
                        <a class="button is-small is-danger" href="/posts/{{post._id}}/delete">删除</a>
                    </div>
                    {% endif %}
                    <p>{{marked(post.content) | safe}}</p>
                </div>
                
                <div class="social-share has-text-centered"></div>
            </div>
            <section class="margin-top box">
                {% include "views/components/comments.html" %}
            </section>
        </div>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="//cdn.bootcss.com/limonte-sweetalert2/7.21.1/sweetalert2.all.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/social-share.js/1.0.16/js/social-share.min.js"></script>
<script>
    var is_login = '{{ ctx.session.user.name }}';
    function showDialog() {
        swal({ 
                text: '请先登录：）', 
                type: 'warning',
                showCancelButton: true, 
                cancelButtonText: '取消',
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: '登录', 
                showCloseButton: true,
            }).then(function(dismiss) {
                if (dismiss.value === true) {
                    window.location = '/signin';
                }
            })
    }
    $('#content').click(function() {
        if (!is_login) {
            showDialog();
        }
    });
    $('#content').keydown(function() {
        if (!is_login) {
            showDialog();
        }
    })
</script>
{% endblock %}