{% extends 'views/base.html' %}
{% block css%}
<link rel="dns-prefetch" href="//use.fontawesome.com" />
{% endblock %}
{% block body %}
{% include "views/components/header.html" %}
<div class="container padding-10">
    <div class="box sign-box">
        <form action="/signup" method="POST" autocomplete="off">
            <div class="field">
                <label class="label">用户名</label>
                <div class="control has-icons-left">
                    <input required class="input" name="name" type="text" placeholder="请输入用户名">
                    <span class="icon is-small is-left">
                        <i class="fas fa-user"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">邮箱</label>
                <div class="control has-icons-left">
                    <input required class="input" name="email" type="email" placeholder="请输入你的邮箱">
                    <span class="icon is-small is-left">
                        <i class="fas fa-envelope"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">密码</label>
                <div class="control has-icons-left">
                    <input required class="input" name="password" type="password" placeholder="请输入密码">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
            </div>
            <div class="field">
                <label class="label">确认密码</label>
                <div class="control has-icons-left">
                    <input required class="input" name="repassword" type="password" placeholder="确认你的密码">
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </div>
            </div>
            <div class="field is-grouped">
                <div class="control">
                    <button class="button is-primary bubble">立即注册</button>
                </div>
                <div class="control">
                    <a href="/signin" class="button is-text">已有账号，去登录</a>
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}
{% block script %}
<script src="//use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
{% endblock %}
