{% extends 'views/base.html' %} {% block body %}
{% include "views/components/header.html" %}
<div class="container margin-top">
    <div class="columns margin-0">
        <div class="column is-3 has-text-centered">
            <div class="card ">
                <div class="card-image">
                  <figure class="image is-1by1">
                    <img src="https://www.gravatar.com/avatar/$hash?s=500">
                  </figure>
                </div>
                <div class="card-content">
                    <p>用户名：{{user.name}}</p>
                    {% if user.github %}
                    <p>GitHub: <a href="https://github.com/{{user.github}}">{{user.github}}</a></p>
                    {% endif %}
                    <p>邮箱：{{user.email}}</p>
                    <p>注册时间：{{user.date}}</p>
                </div>
              </div>
        </div>
        <div class="column is-8">
            {% for post in posts %}
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <a href="/posts/{{post._id}}">{{post.title}}</a>
                        <div class="tags is-pulled-right is-hidden-mobile">
                            <span title="浏览数" class="tag has-text-primary">{{ post.pv }}</span>
                            <span title="发布时间" class="tag has-text-danger">{{ post.meta.date }}</span>
                            <span title="分类" class="tag has-text-info">{{ post.category.name }}</span>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            {% include "views/components/pagination.html" %}
        </div>
    </div>
</div>
{% endblock %}


