{% extends 'views/base.html' %} {% block body %}
{% include "views/components/header.html" %}
<div class="container margin-top">
    <div class="columns margin-0">
        <div class="column is-3 has-text-centered">
            <div class="card ">
                <div class="card-image">
                  <figure class="image is-1by1">
                    <img src="https://www.gravatar.com/avatar/$hash?s=500">
                  </figure>
                </div>
                <div class="card-content">
                    <p>用户名：ssss</p>
                    <p>GitHub: nick23333</p>
                    <p>邮箱：nick_php@163.com</p>
                    <p>注册时间：20180101</p>
                </div>
              </div>
        </div>
        <div class="column is-8">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <a class="is-size-6" href="/posts/5b605d531167d625f8c324a7">react 学习资料</a>
                        <div class="tags is-pulled-right is-hidden-mobile">
                            <span title="浏览数" class="tag has-text-primary">10</span>
                            <span title="发布时间" class="tag has-text-danger">3 天前</span>
                            <span title="分类" class="tag has-text-info">前端</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <a class="is-size-6" href="/posts/5b605d531167d625f8c324a7">react 学习资料</a>
                        <div class="tags is-pulled-right is-hidden-mobile">
                            <span title="浏览数" class="tag has-text-primary">10</span>
                            <span title="发布时间" class="tag has-text-danger">3 天前</span>
                            <span title="分类" class="tag has-text-info">前端</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <a class="is-size-6" href="/posts/5b605d531167d625f8c324a7">react 学习资料</a>
                        <div class="tags is-pulled-right is-hidden-mobile">
                            <span title="浏览数" class="tag has-text-primary">10</span>
                            <span title="发布时间" class="tag has-text-danger">3 天前</span>
                            <span title="分类" class="tag has-text-info">前端</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


