:-webkit-autofill,
:-webkit-autofill:hover,
:-webkit-autofill:focus {    
    borrder: none;    
    -webkit-text-fill-color: #000; 
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;    
    transition: background-color 5000s ease-in-out 0s;    
    font-weight: 500;
}
#scroll-up {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 5px;
    z-index: 100;
}
a:hover {
    text-decoration: none !important;
}
a {
    text-decoration: none !important;
}
.print {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    -webkit-animation: echo 4s steps(60, end) infinite;
    animation: echo 4s steps(50, end) infinite;
    animation-iteration-count: 1;
    -webkit-animation-iteration-count: 1;
}

@keyframes echo {
    from {
        width: 0;
    }
}
@-webkit-keyframes echo {
    from {
        width: 0;
    }
}
#search-btn:hover svg {
    top: -.0625rem;
    left: -.0625rem;
    -webkit-animation: scan 1s linear infinite;
    -moz-animation: scan 1s linear infinite;
    -o-animation: scan 1s linear infinite;
    -ms-animation: scan 1s linear infinite;
    animation: scan 1s linear infinite;
}
@keyframes scan {
    0% {
        -webkit-transform: translate(0,5%);
    }
    12.5% {
        -webkit-transform: translate(2%,17%);
    }
    25% {
        -webkit-transform: translate(10%,25%);
    }
    37.5% {
        -webkit-transform: translate(17%,17%);
    }
    50% {
        -webkit-transform: translate(25%,10%);
    }
    62.5% {
        -webkit-transform: translate(17%,2%);
    }
    75% {
        -webkit-transform: translate(10%,0);
    }
    87.5% {
        -webkit-transform: translate(2%,2%);
    }
    100% {
        -webkit-transform: translate(0,10%);
    }
}
.navbar-tag {
    position: relative;
}
.navbar-tag::after {
    content: "";
    width: 0;
    height: 3px;
    background: #3273dc;
    position: absolute;
    top: 100%;
    left: 50%;
    transition: all .3s;
}
.navbar-tag:hover::after{ 
    left: 0;
    width: 100%;
}
.content ul {
    list-style: none;
    margin: 0;
}
.mt-20 {
    margin-top: 20px;
}
.card-content {
    padding: .8rem;
}
.sign-box {
    max-width: 400px;
    margin: 50px auto;
}

#editor{
    height: calc(100vh - 104px);
}
  
#editor .input,
#editor .show {
    display: inline-block;
    width: 49%;
    height: 100%;
    vertical-align: top;
    box-sizing: border-box;
    padding: 15px 20px;
}
  
#editor .input {
    border: none;
    border-right: 1px solid #ccc;
    resize: none;
    outline: none;
    border-radius:0;
    background-color: #f6f6f6;
    font-size: 14px;
    font-family: 'Monaco', courier, monospace;
    padding: 20px;
}
  
#editor .show {
    overflow-y: auto;
}
  
.editor-header {
    height: 52px;
    display: flex;
    align-items: center;
    box-shadow: 0 2px 0 0 #f5f5f5
}
  
.editor-header input {
    flex: 1 1 auto;;
    border: 0;
    font-size: 22px;
}
  
.editor-header input::-webkit-input-placeholder{
    font-size: 22px;
}
  
.editor-header .right-box {
    margin-left: 200px;
    justify-content: flex-end;
    padding: 0 20px;
    display: flex;
}

.editor-header .right-box .select {
    margin-right: 20px;
}

.margin-top {
    margin-top: 20px;
}
  
.notifications {
    position: fixed;
    top: 60px;
    width: 300px;
    right: 3rem;
    z-index: 999;
}
  
.comment:hover .is-invisible {
    visibility: visible !important;
}
  
.page-404 {
    height: 100vh;
    overflow: hidden;
}
.padding-10 {
    padding: 10px;
}

.margin-0 {
    margin: 0 auto !important;
}

/* 分享插件样式修改 */
.social-share .icon-wechat .wechat-qrcode {
    width: 220px !important;
    left: -95px;
}

.wechat-qrcode .help p {
    padding-left: 8px !important;
}